/*nav {
    display: flex;
    align-items: center;
    padding: 1rem 1.05;
    background: #fff;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav-item{
    margin-left: 2rem;
}
.nav-link{
    font-weight: var(bold);
}
li{
    list-style: none;
}
.nav-item.nav-link{
    color: rgb(17, 8, 8);
}
/*section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    max-width: 1100px;
    margin: 2 rem auto --6rem;*/
}
/*div.Moringa-1{
    color: black;
    font-weight: normal;
    font-size: small;
    display: flex;
}
.Nurturing{
    color: #EC4067;
    font-weight: 200;
    font-size: x-large;
}*/
}
.logo{
    font-size: 1rem;
    font-weight: small;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Moringa-Moringa{
   color: #EC4067; 
}
.school{
    color: rgb(10, 8, 8);
}
nav{
    display: flex;
    align-items: center;
    padding: 1rem 1.05;
    justify-content: space-between;
    position: sticky;
    top: 1;
    left: 1;
    z-index: 1;
    background-color: #fff;
}
li{
   list-style: none; 
}
nav-link{
    margin-left: 2rem
}
.Moringa{
    display: flex;
    justify-content: space-between;
    gap: 50.9rem;
}