span.Moringa{
    color: #EC4067;
}
section.Moringa1 {
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    margin-bottom: 100px;
}
div.intro-text {
    font-size: x-large;
    margin-top: 100px;
    margin-left: 100px;
}